.esquina-superior-izquierda {
    display: flex;
    width: 350px;
    height: 350px;
    position: absolute;
    top: -150px;
    left: -140px;
  }

.pez {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 150px;
    left: 140px;
    transform: rotate(45deg);
}


body {
    background-image: url("../images/fondomiado.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.titulito{
    margin-top: 20px;
    margin-bottom: 80px;
    font-family: 'Shantell Sans', cursive;
    font-weight: bold;
}
@media (max-width: 800px){
    .titulito{
        width: 100%;
    }
}
.btn1{
    
    width: 250px;
    height: 250px;
    position: absolute;
    right: 100px;
    border: none;
    color: white;
    font-family: 'Shantell Sans', cursive;
    border-radius: 20px;
    background-color: #63686E;
}

.btn1 img {
    
    display: block;
    width: 100%; /* Ancho de la imagen dentro del botón */
    height: 200px; /* Altura de la imagen dentro del botón */
    margin: auto; /* Centra la imagen dentro del botón */
  }

.btn2{
    width: 250px;
    height: 250px;
    position: absolute;
    right: 500px;
    border: none;
    color: white;
    font-family: 'Shantell Sans', cursive;
    border-radius: 20px;
    background-color: #63686E;
}
.btn2 img {
    display: block;
    width: 100%; /* Ancho de la imagen dentro del botón */
    height: auto; /* Altura de la imagen dentro del botón */
    margin: auto; /* Centra la imagen dentro del botón */
  }
.btn3{
    position:absolute;
    top:  20px;
    right: 50px;
    font-family: 'Shantell Sans', cursive;
}

  

