body {
  background-image: url('img/possibleBackgroundsLogin/a.png');
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
  height: 100%;
}

.camara {
    display: block;
    margin: auto;  
}

.esp-cam {
    width: 47.4%;
    height: 480px;
    display: block;
    margin: auto;
    background-color: rgb(138, 232, 255);
    border: 5px solid rgb(0, 252, 239);
    border-radius: 10px;
}