body {
  background-image: url('img/possibleBackgroundsLogin/a.png');
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
  height: 100%;
}

#root {
  display: flex;
  height: 100vh;
}